body {
    text-align: center;
    background-color: lightblue;
}

header, main {
    background-color: lightgray;
}

header {
    border-bottom: 2px solid darkblue;
}

h1 {
    margin: 0px;
    padding: 10px;
}

ol {
    list-style-position: inside;
    padding: 0px;
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
    padding: 50px;
}

.flex li a{
    transition: transform 3s ease-out 3s;
}

.flex li:hover,
.flex a:hover {
    color: green;
}


header {
    animation-duration: 2s;
    animation-name: appearDisappear;
    animation-iteration-count: 5;
    animation-direction: alternate;
}

@keyframes appearDisappear { 
    from { 
        font-size: 20px
    }
    to {
        font-size: 25px;
    } 
}


li {
    height: 50px;
    font-size: 25px;
}

a:hover {
    font-size: 30px;
}

a:link {
    text-decoration: none;
}
