@font-face {
    font-family: harryP;
    src: url("HarryP-MVZ6w.ttf");
}

body {
    background-color: #9C1203;
}

header, main {
    margin: 0 auto;
    width: 80%;
    height: 118px;
}

header {
    background-image: url("download.jpg");
    color: white;
    font-family: harryP;
    text-align: center;
    margin: 0 auto;
}

header h1 {
    font-size: 2.5em;
}

header h1 h2 {
    margin: 0 auto;
}

main {
    background-color: white;
}
